<% include ../header %>
<header>
47
E-book gerado especialmente para Tuanny Guinami - jrmotos_colorado@hotmail.com
5.2. Controlando as sessões de usuários Casa do Código
<h2>Ntalk - Agenda de contatos</h2>
</header>
<section>
<p>Bem-vindo <%- usuario.nome %></p>
</section>
<% include ../exit %>
<% include ../footer %>
